/** SASS for the <ol> HTML element
 *
 * Found in scss/colors/_index.scss#93: `// Violet`
 * Found in scss/colors/_index.scss#94: `$violet-950: #190928;`
 * Found in scss/colors/_index.scss#95: `$violet-900: #251140;`
 * Found in scss/colors/_index.scss#96: `$violet-850: #321856;`
 * Found in scss/colors/_index.scss#97: `$violet-800: #3f1e6d;`
 * Found in scss/colors/_index.scss#98: `$violet-750: #4d2585;`
 * Found in scss/colors/_index.scss#99: `$violet-700: #5b2d9c;`
 * Found in scss/colors/_index.scss#100: `$violet-650: #6935b3;`
 * Found in scss/colors/_index.scss#101: `$violet-600: #7540bf;`
 * Found in scss/colors/_index.scss#102: `$violet-550: #8352c5;`
 * Found in scss/colors/_index.scss#103: `$violet-500: #9062ca;`
 * Found in scss/colors/_index.scss#104: `$violet-450: #9b71cf;`
 * Found in scss/colors/_index.scss#105: `$violet-400: #a780d4;`
 * Found in scss/colors/_index.scss#106: `$violet-350: #b290d9;`
 * Found in scss/colors/_index.scss#107: `$violet-300: #bd9fdf;`
 * Found in scss/colors/_index.scss#108: `$violet-250: #c9afe4;`
 * Found in scss/colors/_index.scss#109: `$violet-200: #d3bfe8;`
 * Found in scss/colors/_index.scss#110: `$violet-150: #decfed;`
 * Found in scss/colors/_index.scss#111: `$violet-100: #e8dff2;`
 * Found in scss/colors/_index.scss#112: `$violet-50: #f3eff7;`
 * Found in scss/colors/_index.scss#113: `$violet: $violet-600;`
 * Found in scss/colors/_index.scss#445: `$colors: (`
 * Found in scss/colors/_index.scss#534: `violet: (`
 * Found in scss/colors/_index.scss#535: `950: $violet-950,`
 * Found in scss/colors/_index.scss#536: `900: $violet-900,`
 * Found in scss/colors/_index.scss#537: `850: $violet-850,`
 * Found in scss/colors/_index.scss#538: `800: $violet-800,`
 * Found in scss/colors/_index.scss#539: `750: $violet-750,`
 * Found in scss/colors/_index.scss#540: `700: $violet-700,`
 * Found in scss/colors/_index.scss#541: `650: $violet-650,`
 * Found in scss/colors/_index.scss#542: `600: $violet-600,`
 * Found in scss/colors/_index.scss#543: `550: $violet-550,`
 * Found in scss/colors/_index.scss#544: `500: $violet-500,`
 * Found in scss/colors/_index.scss#545: `450: $violet-450,`
 * Found in scss/colors/_index.scss#546: `400: $violet-400,`
 * Found in scss/colors/_index.scss#547: `350: $violet-350,`
 * Found in scss/colors/_index.scss#548: `300: $violet-300,`
 * Found in scss/colors/_index.scss#549: `250: $violet-250,`
 * Found in scss/colors/_index.scss#550: `200: $violet-200,`
 * Found in scss/colors/_index.scss#551: `150: $violet-150,`
 * Found in scss/colors/_index.scss#552: `100: $violet-100,`
 * Found in scss/colors/_index.scss#553: `50: $violet-50,`
 * Found in scss/colors/_index.scss#554: `main: $violet,`
 * Found in scss/components/_accordion.scss#19: `transition: color var(#{\$css-var-prefix}transition);`
 * Found in scss/components/_accordion.scss#22: `&:not([role]) {`
 * Found in scss/components/_accordion.scss#23: `color: var(#{\$css-var-prefix}accordion-close-summary-color);`
 * Found in scss/components/_accordion.scss#61: `&:not([role]) {`
 * Found in scss/components/_accordion.scss#62: `color: var(#{\$css-var-prefix}accordion-active-summary-color);`
 * Found in scss/components/_accordion.scss#67: `&:not([role]) {`
 * Found in scss/components/_accordion.scss#68: `outline: var(#{\$css-var-prefix}outline-width) solid var(#{\$css-var-prefix}primary-focus);`
 * Found in scss/components/_accordion.scss#70: `color: var(#{\$css-var-prefix}primary);`
 * Found in scss/components/_accordion.scss#75: `&[role="button"] {`
 * Found in scss/components/_accordion.scss#91: `&:not([role]) {`
 * Found in scss/components/_accordion.scss#93: `color: var(#{\$css-var-prefix}accordion-open-summary-color);`
 * Found in scss/components/_card.scss#14: `background: var(#{\$css-var-prefix}card-background-color);`
 * Found in scss/components/_card.scss#23: `background-color: var(#{\$css-var-prefix}card-sectioning-background-color);`
 * Found in scss/components/_card.scss#30: `solid`
 * Found in scss/components/_card.scss#31: `var(#{\$css-var-prefix}card-border-color);`
 * Found in scss/components/_card.scss#40: `solid`
 * Found in scss/components/_card.scss#41: `var(#{\$css-var-prefix}card-border-color);`
 * Found in scss/components/_dropdown.scss#49: `#{\$parent-selector} details.dropdown > summary:not([role]) {`
 * Found in scss/components/_dropdown.scss#61: `solid`
 * Found in scss/components/_dropdown.scss#62: `var(#{\$css-var-prefix}form-element-border-color);`
 * Found in scss/components/_dropdown.scss#64: `background-color: var(#{\$css-var-prefix}form-element-background-color);`
 * Found in scss/components/_dropdown.scss#65: `color: var(#{\$css-var-prefix}form-element-placeholder-color);`
 * Found in scss/components/_dropdown.scss#72: `background-color var(#{\$css-var-prefix}transition),`
 * Found in scss/components/_dropdown.scss#73: `border-color var(#{\$css-var-prefix}transition),`
 * Found in scss/components/_dropdown.scss#74: `color var(#{\$css-var-prefix}transition),`
 * Found in scss/components/_dropdown.scss#80: `border-color: var(#{\$css-var-prefix}form-element-active-border-color);`
 * Found in scss/components/_dropdown.scss#81: `background-color: var(#{\$css-var-prefix}form-element-active-background-color);`
 * Found in scss/components/_dropdown.scss#89: `var(#{\$css-var-prefix}form-element-focus-color);`
 * Found in scss/components/_dropdown.scss#99: `#{\$css-var-prefix}form-element-border-color: var(`
 * Found in scss/components/_dropdown.scss#100: `#{\$css-var-prefix}form-element-valid-border-color`
 * Found in scss/components/_dropdown.scss#102: `#{\$css-var-prefix}form-element-active-border-color: var(`
 * Found in scss/components/_dropdown.scss#103: `#{\$css-var-prefix}form-element-valid-focus-color`
 * Found in scss/components/_dropdown.scss#105: `#{\$css-var-prefix}form-element-focus-color: var(`
 * Found in scss/components/_dropdown.scss#106: `#{\$css-var-prefix}form-element-valid-focus-color`
 * Found in scss/components/_dropdown.scss#111: `#{\$css-var-prefix}form-element-border-color: var(`
 * Found in scss/components/_dropdown.scss#112: `#{\$css-var-prefix}form-element-invalid-border-color`
 * Found in scss/components/_dropdown.scss#114: `#{\$css-var-prefix}form-element-active-border-color: var(`
 * Found in scss/components/_dropdown.scss#115: `#{\$css-var-prefix}form-element-invalid-focus-color`
 * Found in scss/components/_dropdown.scss#117: `#{\$css-var-prefix}form-element-focus-color: var(`
 * Found in scss/components/_dropdown.scss#118: `#{\$css-var-prefix}form-element-invalid-focus-color`
 * Found in scss/components/_dropdown.scss#134: `&:not([role]) {`
 * Found in scss/components/_dropdown.scss#162: `position: absolute;`
 * Found in scss/components/_dropdown.scss#164: `flex-direction: column;`
 * Found in scss/components/_dropdown.scss#170: `border: var(#{\$css-var-prefix}border-width) solid var(#{\$css-var-prefix}dropdown-border-color);`
 * Found in scss/components/_dropdown.scss#172: `background-color: var(#{\$css-var-prefix}dropdown-background-color);`
 * Found in scss/components/_dropdown.scss#174: `color: var(#{\$css-var-prefix}dropdown-color);`
 * Found in scss/components/_dropdown.scss#212: `color: var(#{\$css-var-prefix}dropdown-color);`
 * Found in scss/components/_dropdown.scss#221: `background-color: var(#{\$css-var-prefix}dropdown-hover-background-color);`
 * Found in scss/components/_dropdown.scss#231: `background-color: var(#{\$css-var-prefix}dropdown-hover-background-color);`
 * Found in scss/components/_group.scss#6: `* Group ([role="group"], [role="search"])`
 * Found in scss/components/_group.scss#9: `#{\$parent-selector} [role="search"],`
 * Found in scss/components/_group.scss#10: `#{\$parent-selector} [role="group"] {`
 * Found in scss/components/_group.scss#47: `[role="button"],`
 * Found in scss/components/_group.scss#59: `[role="button"] {`
 * Found in scss/components/_group.scss#65: `&:has(button:focus, [type="submit"]:focus, [type="button"]:focus, [role="button"]:focus) {`
 * Found in scss/components/_group.scss#72: `border-color: transparent;`
 * Found in scss/components/_group.scss#86: `[role="button"] {`
 * Found in scss/components/_group.scss#99: `[role="button"] {`
 * Found in scss/components/_group.scss#107: `#{\$parent-selector} [role="search"] {`
 * Found in scss/components/_loading.scss#40: `#{\$parent-selector} [role="button"],`
 * Found in scss/components/_modal.scss#11: `#{\$css-var-prefix}scrollbar-width: 0px;`
 * Found in scss/components/_modal.scss#31: `background-color: var(#{\$css-var-prefix}modal-overlay-background-color);`
 * Found in scss/components/_modal.scss#32: `color: var(#{\$css-var-prefix}color);`
 * Found in scss/components/_modal.scss#75: `[role="button"] {`
 * Found in scss/components/_modal.scss#97: `background-color: transparent;`
 * Found in scss/components/_modal.scss#120: `padding-right: var(#{\$css-var-prefix}scrollbar-width, 0px);`
 * Found in scss/components/_modal.scss#166: `background-color: transparent;`
 * Found in scss/components/_nav.scss#10: `// - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css`
 * Found in scss/components/_nav.scss#30: `ol,`
 * Found in scss/components/_nav.scss#51: `:where(a, [role="link"]) {`
 * Found in scss/components/_nav.scss#66: `[role="button"],`
 * Found in scss/components/_nav.scss#100: `position: absolute;`
 * Found in scss/components/_nav.scss#104: `color: var(#{\$css-var-prefix}muted-color);`
 * Found in scss/components/_nav.scss#114: `background-color: transparent;`
 * Found in scss/components/_nav.scss#115: `color: inherit;`
 * Found in scss/components/_nav.scss#125: `ol,`
 * Found in scss/components/_nav.scss#140: `[role="button"] {`
 * Found in scss/components/_progress.scss#10: `// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css`
 * Found in scss/components/_progress.scss#11: `// - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css`
 * Found in scss/components/_progress.scss#40: `background-color: var(#{\$css-var-prefix}progress-background-color);`
 * Found in scss/components/_progress.scss#42: `// IE10 uses `color` to set the bar background-color`
 * Found in scss/components/_progress.scss#43: `color: var(#{\$css-var-prefix}progress-color);`
 * Found in scss/components/_progress.scss#51: `background-color: var(#{\$css-var-prefix}progress-color);`
 * Found in scss/components/_progress.scss#59: `background-color: var(#{\$css-var-prefix}progress-color);`
 * Found in scss/components/_progress.scss#65: `background: var(#{\$css-var-prefix}progress-background-color)`
 * Found in scss/components/_progress.scss#68: `var(#{\$css-var-prefix}progress-color) 30%,`
 * Found in scss/components/_progress.scss#69: `var(#{\$css-var-prefix}progress-background-color) 30%`
 * Found in scss/components/_progress.scss#75: `background-color: transparent;`
 * Found in scss/components/_progress.scss#79: `background-color: transparent;`
 * Found in scss/components/_tooltip.scss#4: `@if map.get($modules, "components/tooltip") {`
 * Found in scss/components/_tooltip.scss#6: `* Tooltip ([data-tooltip])`
 * Found in scss/components/_tooltip.scss#9: `#{\$parent-selector} [data-tooltip] {`
 * Found in scss/components/_tooltip.scss#12: `&:not(a, button, input, [role="button"]) {`
 * Found in scss/components/_tooltip.scss#24: `position: absolute;`
 * Found in scss/components/_tooltip.scss#31: `background: var(#{\$css-var-prefix}tooltip-background-color);`
 * Found in scss/components/_tooltip.scss#32: `content: attr(data-tooltip);`
 * Found in scss/components/_tooltip.scss#33: `color: var(#{\$css-var-prefix}tooltip-color);`
 * Found in scss/components/_tooltip.scss#49: `border-top: 0.3rem solid;`
 * Found in scss/components/_tooltip.scss#50: `border-right: 0.3rem solid transparent;`
 * Found in scss/components/_tooltip.scss#51: `border-left: 0.3rem solid transparent;`
 * Found in scss/components/_tooltip.scss#53: `background-color: transparent;`
 * Found in scss/components/_tooltip.scss#55: `color: var(#{\$css-var-prefix}tooltip-background-color);`
 * Found in scss/components/_tooltip.scss#68: `border: 0.3rem solid transparent;`
 * Found in scss/components/_tooltip.scss#69: `border-bottom: 0.3rem solid;`
 * Found in scss/components/_tooltip.scss#85: `border: 0.3rem solid transparent;`
 * Found in scss/components/_tooltip.scss#86: `border-left: 0.3rem solid;`
 * Found in scss/components/_tooltip.scss#102: `border: 0.3rem solid transparent;`
 * Found in scss/components/_tooltip.scss#103: `border-right: 0.3rem solid;`
 * Found in scss/components/_tooltip.scss#124: `#{\$css-var-prefix}tooltip-slide-to: translate(-50%, -0.25rem);`
 * Found in scss/components/_tooltip.scss#128: `animation-name: tooltip-slide;`
 * Found in scss/components/_tooltip.scss#133: `#{\$css-var-prefix}tooltip-caret-slide-to: translate(-50%, 0rem);`
 * Found in scss/components/_tooltip.scss#135: `animation-name: tooltip-caret-slide;`
 * Found in scss/components/_tooltip.scss#145: `#{\$css-var-prefix}tooltip-slide-to: translate(-50%, 0.25rem);`
 * Found in scss/components/_tooltip.scss#147: `animation-name: tooltip-slide;`
 * Found in scss/components/_tooltip.scss#151: `#{\$css-var-prefix}tooltip-caret-slide-to: translate(-50%, -0.3rem);`
 * Found in scss/components/_tooltip.scss#153: `animation-name: tooltip-caret-slide;`
 * Found in scss/components/_tooltip.scss#164: `#{\$css-var-prefix}tooltip-slide-to: translate(-0.25rem, -50%);`
 * Found in scss/components/_tooltip.scss#166: `animation-name: tooltip-slide;`
 * Found in scss/components/_tooltip.scss#170: `#{\$css-var-prefix}tooltip-caret-slide-to: translate(0.3rem, -50%);`
 * Found in scss/components/_tooltip.scss#172: `animation-name: tooltip-caret-slide;`
 * Found in scss/components/_tooltip.scss#183: `#{\$css-var-prefix}tooltip-slide-to: translate(0.25rem, -50%);`
 * Found in scss/components/_tooltip.scss#185: `animation-name: tooltip-slide;`
 * Found in scss/components/_tooltip.scss#189: `#{\$css-var-prefix}tooltip-caret-slide-to: translate(-0.3rem, -50%);`
 * Found in scss/components/_tooltip.scss#191: `animation-name: tooltip-caret-slide;`
 * Found in scss/components/_tooltip.scss#197: `@keyframes tooltip-slide {`
 * Found in scss/components/_tooltip.scss#199: `transform: var(#{\$css-var-prefix}tooltip-slide-to);`
 * Found in scss/components/_tooltip.scss#204: `@keyframes tooltip-caret-slide {`
 * Found in scss/components/_tooltip.scss#209: `transform: var(#{\$css-var-prefix}tooltip-caret-slide-to);`
 * Found in scss/content/_button.scss#10: `// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css`
 * Found in scss/content/_button.scss#11: `// - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css`
 * Found in scss/content/_button.scss#15: `// 2. Remove the margin on controls in Safari`
 * Found in scss/content/_button.scss#40: `#{\$parent-selector} [role="button"] {`
 * Found in scss/content/_button.scss#41: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}primary-background);`
 * Found in scss/content/_button.scss#42: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}primary-border);`
 * Found in scss/content/_button.scss#43: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}primary-inverse);`
 * Found in scss/content/_button.scss#47: `border: var(#{\$css-var-prefix}border-width) solid var(#{\$css-var-prefix}border-color);`
 * Found in scss/content/_button.scss#50: `background-color: var(#{\$css-var-prefix}background-color);`
 * Found in scss/content/_button.scss#52: `color: var(#{\$css-var-prefix}color);`
 * Found in scss/content/_button.scss#63: `background-color var(#{\$css-var-prefix}transition),`
 * Found in scss/content/_button.scss#64: `border-color var(#{\$css-var-prefix}transition),`
 * Found in scss/content/_button.scss#65: `color var(#{\$css-var-prefix}transition),`
 * Found in scss/content/_button.scss#71: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}primary-hover-background);`
 * Found in scss/content/_button.scss#72: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}primary-hover-border);`
 * Found in scss/content/_button.scss#77: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}primary-inverse);`
 * Found in scss/content/_button.scss#97: `#{\$parent-selector} :is(button, [type="submit"], [type="button"], [role="button"]).secondary,`
 * Found in scss/content/_button.scss#100: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}secondary-background);`
 * Found in scss/content/_button.scss#101: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}secondary-border);`
 * Found in scss/content/_button.scss#102: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}secondary-inverse);`
 * Found in scss/content/_button.scss#106: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}secondary-hover-background);`
 * Found in scss/content/_button.scss#107: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}secondary-hover-border);`
 * Found in scss/content/_button.scss#108: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}secondary-inverse);`
 * Found in scss/content/_button.scss#120: `#{\$parent-selector} :is(button, [type="submit"], [type="button"], [role="button"]).contrast {`
 * Found in scss/content/_button.scss#121: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}contrast-background);`
 * Found in scss/content/_button.scss#122: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}contrast-border);`
 * Found in scss/content/_button.scss#123: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}contrast-inverse);`
 * Found in scss/content/_button.scss#126: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}contrast-hover-background);`
 * Found in scss/content/_button.scss#127: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}contrast-hover-border);`
 * Found in scss/content/_button.scss#128: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}contrast-inverse);`
 * Found in scss/content/_button.scss#140: `#{\$parent-selector} :is(button, [type="submit"], [type="button"], [role="button"]).outline,`
 * Found in scss/content/_button.scss#142: `#{\$css-var-prefix}background-color: transparent;`
 * Found in scss/content/_button.scss#143: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}primary);`
 * Found in scss/content/_button.scss#144: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}primary);`
 * Found in scss/content/_button.scss#147: `#{\$css-var-prefix}background-color: transparent;`
 * Found in scss/content/_button.scss#148: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}primary-hover);`
 * Found in scss/content/_button.scss#149: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}primary-hover);`
 * Found in scss/content/_button.scss#155: `:is(button, [type="submit"], [type="button"], [role="button"]).outline.secondary,`
 * Found in scss/content/_button.scss#157: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}secondary);`
 * Found in scss/content/_button.scss#158: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}secondary);`
 * Found in scss/content/_button.scss#161: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}secondary-hover);`
 * Found in scss/content/_button.scss#162: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}secondary-hover);`
 * Found in scss/content/_button.scss#168: `:is(button, [type="submit"], [type="button"], [role="button"]).outline.contrast {`
 * Found in scss/content/_button.scss#169: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}contrast);`
 * Found in scss/content/_button.scss#170: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}contrast);`
 * Found in scss/content/_button.scss#173: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}contrast-hover);`
 * Found in scss/content/_button.scss#174: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}contrast-hover);`
 * Found in scss/content/_button.scss#181: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}secondary-background);`
 * Found in scss/content/_button.scss#182: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}secondary-border);`
 * Found in scss/content/_button.scss#183: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}secondary-inverse);`
 * Found in scss/content/_button.scss#187: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}secondary-hover-background);`
 * Found in scss/content/_button.scss#188: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}secondary-hover-border);`
 * Found in scss/content/_button.scss#189: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}secondary-inverse);`
 * Found in scss/content/_button.scss#202: `:where(button, [type="submit"], [type="reset"], [type="button"], [role="button"])[disabled],`
 * Found in scss/content/_button.scss#205: `:is(button, [type="submit"], [type="button"], [type="reset"], [role="button"]) {`
 * Found in scss/content/_code.scss#10: `// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css`
 * Found in scss/content/_code.scss#11: `// - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css`
 * Found in scss/content/_code.scss#32: `-ms-overflow-style: scrollbar;`
 * Found in scss/content/_code.scss#44: `background: var(#{\$css-var-prefix}code-background-color);`
 * Found in scss/content/_code.scss#45: `color: var(#{\$css-var-prefix}code-color);`
 * Found in scss/content/_code.scss#73: `background-color: var(#{\$css-var-prefix}code-kbd-background-color);`
 * Found in scss/content/_code.scss#74: `color: var(#{\$css-var-prefix}code-kbd-color);`
 * Found in scss/content/_embedded.scss#10: `// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css`
 * Found in scss/content/_embedded.scss#11: `// - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css`
 * Found in scss/content/_embedded.scss#26: `#{\$parent-selector} audio:not([controls]) {`
 * Found in scss/content/_embedded.scss#44: `// Change the fill color to match the text color in all browsers (opinionated)`
 * Found in scss/content/_embedded.scss#46: `fill: currentColor;`
 * Found in scss/content/_figure.scss#16: `color: var(#{\$css-var-prefix}muted-color);`
 * Found in scss/content/_link.scss#9: `#{\$parent-selector} :where(a:not([role="button"])),`
 * Found in scss/content/_link.scss#10: `#{\$parent-selector} [role="link"] {`
 * Found in scss/content/_link.scss#11: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}primary);`
 * Found in scss/content/_link.scss#12: `#{\$css-var-prefix}background-color: transparent;`
 * Found in scss/content/_link.scss#15: `background-color: var(#{\$css-var-prefix}background-color); // 1`
 * Found in scss/content/_link.scss#16: `color: var(#{\$css-var-prefix}color);`
 * Found in scss/content/_link.scss#18: `text-decoration-color: var(#{\$css-var-prefix}underline);`
 * Found in scss/content/_link.scss#23: `background-color var(#{\$css-var-prefix}transition),`
 * Found in scss/content/_link.scss#24: `color var(#{\$css-var-prefix}transition),`
 * Found in scss/content/_link.scss#30: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}primary-hover);`
 * Found in scss/content/_link.scss#42: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}secondary);`
 * Found in scss/content/_link.scss#46: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}secondary-hover);`
 * Found in scss/content/_link.scss#53: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}contrast);`
 * Found in scss/content/_link.scss#57: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}contrast-hover);`
 * Found in scss/content/_link.scss#65: `&[role="button"] {`
 * Found in scss/content/_misc.scss#10: `// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css`
 * Found in scss/content/_misc.scss#11: `// - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css`
 * Found in scss/content/_misc.scss#14: `// 1. Correct the inheritance of border color in Firefox`
 * Found in scss/content/_misc.scss#20: `border-top: 1px solid var(#{\$css-var-prefix}muted-border-color);`
 * Found in scss/content/_misc.scss#21: `color: inherit; // 1`
 * Found in scss/content/_table.scss#10: `// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css`
 * Found in scss/content/_table.scss#11: `// - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css`
 * Found in scss/content/_table.scss#14: `// 1. Collapse border spacing in all browsers (opinionated)`
 * Found in scss/content/_table.scss#18: `border-collapse: collapse; // 1`
 * Found in scss/content/_table.scss#31: `solid`
 * Found in scss/content/_table.scss#32: `var(#{\$css-var-prefix}table-border-color);`
 * Found in scss/content/_table.scss#33: `background-color: var(#{\$css-var-prefix}background-color);`
 * Found in scss/content/_table.scss#34: `color: var(#{\$css-var-prefix}color);`
 * Found in scss/content/_table.scss#45: `solid`
 * Found in scss/content/_table.scss#46: `var(#{\$css-var-prefix}table-border-color);`
 * Found in scss/content/_table.scss#57: `background-color: var(#{\$css-var-prefix}table-row-stripped-background-color);`
 * Found in scss/content/_typography.scss#10: `// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css`
 * Found in scss/content/_typography.scss#11: `// - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css`
 * Found in scss/content/_typography.scss#17: `font-weight: bolder;`
 * Found in scss/content/_typography.scss#41: `#{\$parent-selector} ol,`
 * Found in scss/content/_typography.scss#48: `color: var(#{\$css-var-prefix}color);`
 * Found in scss/content/_typography.scss#62: `color: var(#{\$css-var-prefix}color);`
 * Found in scss/content/_typography.scss#70: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}h1-color);`
 * Found in scss/content/_typography.scss#73: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}h2-color);`
 * Found in scss/content/_typography.scss#76: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}h3-color);`
 * Found in scss/content/_typography.scss#79: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}h4-color);`
 * Found in scss/content/_typography.scss#82: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}h5-color);`
 * Found in scss/content/_typography.scss#85: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}h6-color);`
 * Found in scss/content/_typography.scss#90: `:where(article, address, blockquote, dl, figure, form, ol, p, pre, table, ul) {`
 * Found in scss/content/_typography.scss#111: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}muted-color);`
 * Found in scss/content/_typography.scss#118: `#{\$parent-selector} :where(ol, ul) {`
 * Found in scss/content/_typography.scss#126: `#{\$parent-selector} :where(dl, ol, ul) :where(dl, ol, ul) {`
 * Found in scss/content/_typography.scss#138: `background-color: var(#{\$css-var-prefix}mark-background-color);`
 * Found in scss/content/_typography.scss#139: `color: var(#{\$css-var-prefix}mark-color);`
 * Found in scss/content/_typography.scss#149: `border-left: 0.25rem solid var(#{\$css-var-prefix}blockquote-border-color);`
 * Found in scss/content/_typography.scss#150: `border-inline-start: 0.25rem solid var(#{\$css-var-prefix}blockquote-border-color);`
 * Found in scss/content/_typography.scss#155: `color: var(#{\$css-var-prefix}blockquote-footer-color);`
 * Found in scss/content/_typography.scss#169: `color: var(#{\$css-var-prefix}ins-color);`
 * Found in scss/content/_typography.scss#175: `color: var(#{\$css-var-prefix}del-color);`
 * Found in scss/content/_typography.scss#180: `background-color: var(#{\$css-var-prefix}text-selection-color);`
 * Found in scss/forms/_basics.scss#12: `// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css`
 * Found in scss/forms/_basics.scss#13: `// - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css`
 * Found in scss/forms/_basics.scss#40: `// 2. Correct the color inheritance from `fieldset` elements in IE`
 * Found in scss/forms/_basics.scss#46: `color: inherit; // 2`
 * Found in scss/forms/_basics.scss#50: `// 1. Remove the default vertical scrollbar in IE`
 * Found in scss/forms/_basics.scss#140: `color: var(#{\$css-var-prefix}color);`
 * Found in scss/forms/_basics.scss#169: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}form-element-background-color);`
 * Found in scss/forms/_basics.scss#170: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}form-element-border-color);`
 * Found in scss/forms/_basics.scss#171: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}form-element-color);`
 * Found in scss/forms/_basics.scss#173: `border: var(#{\$css-var-prefix}border-width) solid var(#{\$css-var-prefix}border-color);`
 * Found in scss/forms/_basics.scss#176: `background-color: var(#{\$css-var-prefix}background-color);`
 * Found in scss/forms/_basics.scss#178: `color: var(#{\$css-var-prefix}color);`
 * Found in scss/forms/_basics.scss#183: `background-color var(#{\$css-var-prefix}transition),`
 * Found in scss/forms/_basics.scss#184: `border-color var(#{\$css-var-prefix}transition),`
 * Found in scss/forms/_basics.scss#185: `color var(#{\$css-var-prefix}transition),`
 * Found in scss/forms/_basics.scss#202: `#{\$css-var-prefix}background-color: var(`
 * Found in scss/forms/_basics.scss#203: `#{\$css-var-prefix}form-element-active-background-color`
 * Found in scss/forms/_basics.scss#210: `input:not([type="submit"], [type="button"], [type="reset"], [role="switch"], [readonly]),`
 * Found in scss/forms/_basics.scss#213: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}form-element-active-border-color);`
 * Found in scss/forms/_basics.scss#233: `var(#{\$css-var-prefix}form-element-focus-color);`
 * Found in scss/forms/_basics.scss#296: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}form-element-valid-border-color);`
 * Found in scss/forms/_basics.scss#300: `#{\$css-var-prefix}border-color: var(`
 * Found in scss/forms/_basics.scss#301: `#{\$css-var-prefix}form-element-valid-active-border-color`
 * Found in scss/forms/_basics.scss#309: `var(#{\$css-var-prefix}form-element-valid-focus-color) !important;`
 * Found in scss/forms/_basics.scss#312: `#{\$css-var-prefix}border-color: var(`
 * Found in scss/forms/_basics.scss#313: `#{\$css-var-prefix}form-element-valid-active-border-color`
 * Found in scss/forms/_basics.scss#321: `var(#{\$css-var-prefix}form-element-valid-focus-color);`
 * Found in scss/forms/_basics.scss#328: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}form-element-invalid-border-color);`
 * Found in scss/forms/_basics.scss#332: `#{\$css-var-prefix}border-color: var(`
 * Found in scss/forms/_basics.scss#333: `#{\$css-var-prefix}form-element-invalid-active-border-color`
 * Found in scss/forms/_basics.scss#341: `var(#{\$css-var-prefix}form-element-invalid-focus-color) !important;`
 * Found in scss/forms/_basics.scss#344: `#{\$css-var-prefix}border-color: var(`
 * Found in scss/forms/_basics.scss#345: `#{\$css-var-prefix}form-element-invalid-active-border-color`
 * Found in scss/forms/_basics.scss#353: `var(#{\$css-var-prefix}form-element-invalid-focus-color);`
 * Found in scss/forms/_basics.scss#370: `// Placeholder`
 * Found in scss/forms/_basics.scss#371: `#{\$parent-selector} input::placeholder,`
 * Found in scss/forms/_basics.scss#372: `#{\$parent-selector} input::-webkit-input-placeholder,`
 * Found in scss/forms/_basics.scss#373: `#{\$parent-selector} textarea::placeholder,`
 * Found in scss/forms/_basics.scss#374: `#{\$parent-selector} textarea::-webkit-input-placeholder,`
 * Found in scss/forms/_basics.scss#376: `color: var(#{\$css-var-prefix}form-element-placeholder-color);`
 * Found in scss/forms/_basics.scss#392: `background-color: transparent;`
 * Found in scss/forms/_basics.scss#409: `background: var(#{\$css-var-prefix}form-element-selected-background-color);`
 * Found in scss/forms/_basics.scss#410: `color: var(#{\$css-var-prefix}form-element-color);`
 * Found in scss/forms/_basics.scss#451: `color: var(#{\$css-var-prefix}muted-color);`
 * Found in scss/forms/_basics.scss#455: `color: var(#{\$css-var-prefix}ins-color);`
 * Found in scss/forms/_basics.scss#460: `color: var(#{\$css-var-prefix}del-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#38: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}primary-background);`
 * Found in scss/forms/_checkbox-radio-switch.scss#39: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}primary-border);`
 * Found in scss/forms/_checkbox-radio-switch.scss#60: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}primary-background);`
 * Found in scss/forms/_checkbox-radio-switch.scss#61: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}primary-border);`
 * Found in scss/forms/_checkbox-radio-switch.scss#76: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}primary-inverse);`
 * Found in scss/forms/_checkbox-radio-switch.scss#83: `#{\$parent-selector} [type="checkbox"][role="switch"] {`
 * Found in scss/forms/_checkbox-radio-switch.scss#84: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}switch-background-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#85: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}switch-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#95: `border: var(#{\$css-var-prefix}border-width) solid var(#{\$css-var-prefix}border-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#97: `background-color: var(#{\$css-var-prefix}background-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#101: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}switch-background-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#109: `background-color: var(#{\$css-var-prefix}color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#119: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}switch-background-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#120: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}switch-background-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#124: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}switch-checked-background-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#125: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}switch-checked-background-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#134: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}border-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#140: `#{\$parent-selector} [type="checkbox"][role="switch"] {`
 * Found in scss/forms/_checkbox-radio-switch.scss#145: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}form-element-valid-border-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#152: `#{\$css-var-prefix}background-color: var(`
 * Found in scss/forms/_checkbox-radio-switch.scss#153: `#{\$css-var-prefix}form-element-invalid-border-color`
 * Found in scss/forms/_checkbox-radio-switch.scss#161: `#{\$parent-selector} [type="checkbox"][role="switch"] {`
 * Found in scss/forms/_checkbox-radio-switch.scss#166: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}form-element-valid-border-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#173: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}form-element-invalid-border-color);`
 * Found in scss/forms/_input-color.scss#5: `@mixin color-wrapper {`
 * Found in scss/forms/_input-color.scss#10: `@mixin color-swatch {`
 * Found in scss/forms/_input-color.scss#15: `@if map.get($modules, "forms/input-color") {`
 * Found in scss/forms/_input-color.scss#17: `* Input type color`
 * Found in scss/forms/_input-color.scss#20: `#{\$parent-selector} [type="color"] {`
 * Found in scss/forms/_input-color.scss#21: `&::-webkit-color-swatch-wrapper {`
 * Found in scss/forms/_input-color.scss#22: `@include color-wrapper;`
 * Found in scss/forms/_input-color.scss#26: `@include color-wrapper;`
 * Found in scss/forms/_input-color.scss#29: `&::-webkit-color-swatch {`
 * Found in scss/forms/_input-color.scss#30: `@include color-swatch;`
 * Found in scss/forms/_input-color.scss#33: `&::-moz-color-swatch {`
 * Found in scss/forms/_input-color.scss#34: `@include color-swatch;`
 * Found in scss/forms/_input-file.scss#12: `#{\$css-var-prefix}color: var(#{\$css-var-prefix}muted-color);`
 * Found in scss/forms/_input-file.scss#28: `#{\$css-var-prefix}background-color: var(#{\$css-var-prefix}secondary-hover-background);`
 * Found in scss/forms/_input-file.scss#29: `#{\$css-var-prefix}border-color: var(#{\$css-var-prefix}secondary-hover-border);`
 * Found in scss/forms/_input-range.scss#14: `background-color: var(#{\$css-var-prefix}range-border-color);`
 * Found in scss/forms/_input-range.scss#18: `background-color var(#{\$css-var-prefix}transition),`
 * Found in scss/forms/_input-range.scss#29: `border: $border-thumb solid var(#{\$css-var-prefix}range-thumb-border-color);`
 * Found in scss/forms/_input-range.scss#31: `background-color: var(#{\$css-var-prefix}range-thumb-color);`
 * Found in scss/forms/_input-range.scss#36: `background-color var(#{\$css-var-prefix}transition),`
 * Found in scss/forms/_input-range.scss#81: `#{\$css-var-prefix}range-border-color: var(#{\$css-var-prefix}range-active-border-color);`
 * Found in scss/forms/_input-range.scss#82: `#{\$css-var-prefix}range-thumb-color: var(#{\$css-var-prefix}range-thumb-active-color);`
 * Found in scss/helpers/_functions.scss#1: `@use "sass:color";`
 * Found in scss/helpers/_functions.scss#4: `// Display color as RGB`
 * Found in scss/helpers/_functions.scss#5: `@function display-rgb($color) {`
 * Found in scss/helpers/_functions.scss#7: `"rgb(" + color.channel($color, "red") + ", " + color.channel($color, "green") + ", " +`
 * Found in scss/helpers/_functions.scss#8: `color.channel($color, "blue") + ")"`
 * Found in scss/helpers/_functions.scss#18: `@function shadow($color) {`
 * Found in scss/helpers/_functions.scss#27: `$color`
 * Found in scss/helpers/_functions.scss#33: `$color`
 * Found in scss/helpers/_functions.scss#39: `$color`
 * Found in scss/helpers/_functions.scss#45: `$color`
 * Found in scss/helpers/_functions.scss#51: `$color`
 * Found in scss/layout/_document.scss#11: `// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css`
 * Found in scss/layout/_document.scss#12: `// - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css`
 * Found in scss/layout/_document.scss#39: `-webkit-tap-highlight-color: transparent; // 4`
 * Found in scss/layout/_document.scss#42: `background-color: var(#{\$css-var-prefix}background-color);`
 * Found in scss/layout/_document.scss#43: `color: var(#{\$css-var-prefix}color);`
 * Found in scss/layout/_grid.scss#7: `* Minimal grid system with auto-layout columns`
 * Found in scss/layout/_grid.scss#11: `grid-column-gap: var(#{\$css-var-prefix}grid-column-gap);`
 * Found in scss/layout/_grid.scss#14: `grid-template-columns: 1fr;`
 * Found in scss/layout/_grid.scss#18: `grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));`
 * Found in scss/layout/_landmarks.scss#10: `// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css`
 * Found in scss/layout/_landmarks.scss#11: `// - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css`
 * Found in scss/themes/_default.scss#4: `// Colors schemes`
 * Found in scss/utilities/_accessibility.scss#10: `// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css`
 * Found in scss/utilities/_accessibility.scss#11: `// - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css`
 * Found in scss/utilities/_accessibility.scss#16: `// Change the cursor on control elements in all browsers (opinionated)`
 * Found in scss/utilities/_accessibility.scss#17: `#{\$parent-selector} [aria-controls] {`
 * Found in scss/utilities/_accessibility.scss#34: `position: absolute;`
 * Found in scss/utilities/_reduce-motion.scss#10: `// - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css`
 * Found in scss/utilities/_reduce-motion.scss#15: `// 3. Remove timed scrolling behaviors when motion is reduced (opinionated)`
 * Found in scss/utilities/_reduce-motion.scss#25: `scroll-behavior: auto !important; // 3`
 *
 * Add your styles here
 */

@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "content/typography") {
  #{$parent-selector} ol {
    margin-top: 0;
    margin-bottom: var(#{$css-var-prefix}typography-spacing-vertical);
    color: var(#{$css-var-prefix}color);
    font-style: normal;
    font-weight: var(#{$css-var-prefix}font-weight);
  }

  // Margin-top for nested lists
  // 1. Remove the margin on nested lists in Chrome, Edge, IE, and Safari
  #{$parent-selector} :where(dl, ol, ul) :where(dl, ol, ul) {
    margin: 0; // 1
    margin-top: calc(var(#{$css-var-prefix}typography-spacing-vertical) * 0.25);
  }
}
