/** SASS for the <pre> HTML element
 *
 * Found in scss/components/_accordion.scss#11: `margin-bottom: var(#{$css-var-prefix}spacing);`
 * Found in scss/components/_accordion.scss#19: `transition: color var(#{$css-var-prefix}transition);`
 * Found in scss/components/_accordion.scss#23: `color: var(#{$css-var-prefix}accordion-close-summary-color);`
 * Found in scss/components/_accordion.scss#44: `margin-inline-start: calc(var(#{$css-var-prefix}spacing, 1rem) * 0.5);`
 * Found in scss/components/_accordion.scss#47: `background-image: var(#{$css-var-prefix}icon-chevron);`
 * Found in scss/components/_accordion.scss#54: `transition: transform var(#{$css-var-prefix}transition);`
 * Found in scss/components/_accordion.scss#62: `color: var(#{$css-var-prefix}accordion-active-summary-color);`
 * Found in scss/components/_accordion.scss#68: `outline: var(#{$css-var-prefix}outline-width) solid var(#{$css-var-prefix}primary-focus);`
 * Found in scss/components/_accordion.scss#69: `outline-offset: calc(var(#{$css-var-prefix}spacing, 1rem) * 0.5);`
 * Found in scss/components/_accordion.scss#70: `color: var(#{$css-var-prefix}primary);`
 * Found in scss/components/_accordion.scss#81: `height: calc(1rem * var(#{$css-var-prefix}line-height, 1.5));`
 * Found in scss/components/_accordion.scss#89: `margin-bottom: var(#{$css-var-prefix}spacing);`
 * Found in scss/components/_accordion.scss#93: `color: var(#{$css-var-prefix}accordion-open-summary-color);`
 * Found in scss/components/_card.scss#10: `margin-bottom: var(#{$css-var-prefix}block-spacing-vertical);`
 * Found in scss/components/_card.scss#11: `padding: var(#{$css-var-prefix}block-spacing-vertical)`
 * Found in scss/components/_card.scss#12: `var(#{$css-var-prefix}block-spacing-horizontal);`
 * Found in scss/components/_card.scss#13: `border-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/components/_card.scss#14: `background: var(#{$css-var-prefix}card-background-color);`
 * Found in scss/components/_card.scss#15: `box-shadow: var(#{$css-var-prefix}card-box-shadow);`
 * Found in scss/components/_card.scss#19: `margin-right: calc(var(#{$css-var-prefix}block-spacing-horizontal) * -1);`
 * Found in scss/components/_card.scss#20: `margin-left: calc(var(#{$css-var-prefix}block-spacing-horizontal) * -1);`
 * Found in scss/components/_card.scss#21: `padding: calc(var(#{$css-var-prefix}block-spacing-vertical) * 0.66)`
 * Found in scss/components/_card.scss#22: `var(#{$css-var-prefix}block-spacing-horizontal);`
 * Found in scss/components/_card.scss#23: `background-color: var(#{$css-var-prefix}card-sectioning-background-color);`
 * Found in scss/components/_card.scss#27: `margin-top: calc(var(#{$css-var-prefix}block-spacing-vertical) * -1);`
 * Found in scss/components/_card.scss#28: `margin-bottom: var(#{$css-var-prefix}block-spacing-vertical);`
 * Found in scss/components/_card.scss#29: `border-bottom: var(#{$css-var-prefix}border-width)`
 * Found in scss/components/_card.scss#31: `var(#{$css-var-prefix}card-border-color);`
 * Found in scss/components/_card.scss#32: `border-top-right-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/components/_card.scss#33: `border-top-left-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/components/_card.scss#37: `margin-top: var(#{$css-var-prefix}block-spacing-vertical);`
 * Found in scss/components/_card.scss#38: `margin-bottom: calc(var(#{$css-var-prefix}block-spacing-vertical) * -1);`
 * Found in scss/components/_card.scss#39: `border-top: var(#{$css-var-prefix}border-width)`
 * Found in scss/components/_card.scss#41: `var(#{$css-var-prefix}card-border-color);`
 * Found in scss/components/_card.scss#42: `border-bottom-right-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/components/_card.scss#43: `border-bottom-left-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/components/_dropdown.scss#23: `height: calc(1rem * var(#{$css-var-prefix}line-height, 1.5));`
 * Found in scss/components/_dropdown.scss#29: `background-image: var(#{$css-var-prefix}icon-chevron);`
 * Found in scss/components/_dropdown.scss#52: `var(#{$css-var-prefix}line-height) +`
 * Found in scss/components/_dropdown.scss#53: `var(#{$css-var-prefix}form-element-spacing-vertical) *`
 * Found in scss/components/_dropdown.scss#55: `var(#{$css-var-prefix}border-width) *`
 * Found in scss/components/_dropdown.scss#58: `padding: var(#{$css-var-prefix}form-element-spacing-vertical)`
 * Found in scss/components/_dropdown.scss#59: `var(#{$css-var-prefix}form-element-spacing-horizontal);`
 * Found in scss/components/_dropdown.scss#60: `border: var(#{$css-var-prefix}border-width)`
 * Found in scss/components/_dropdown.scss#62: `var(#{$css-var-prefix}form-element-border-color);`
 * Found in scss/components/_dropdown.scss#63: `border-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/components/_dropdown.scss#64: `background-color: var(#{$css-var-prefix}form-element-background-color);`
 * Found in scss/components/_dropdown.scss#65: `color: var(#{$css-var-prefix}form-element-placeholder-color);`
 * Found in scss/components/_dropdown.scss#72: `background-color var(#{$css-var-prefix}transition),`
 * Found in scss/components/_dropdown.scss#73: `border-color var(#{$css-var-prefix}transition),`
 * Found in scss/components/_dropdown.scss#74: `color var(#{$css-var-prefix}transition),`
 * Found in scss/components/_dropdown.scss#75: `box-shadow var(#{$css-var-prefix}transition);`
 * Found in scss/components/_dropdown.scss#80: `border-color: var(#{$css-var-prefix}form-element-active-border-color);`
 * Found in scss/components/_dropdown.scss#81: `background-color: var(#{$css-var-prefix}form-element-active-background-color);`
 * Found in scss/components/_dropdown.scss#88: `var(#{$css-var-prefix}outline-width)`
 * Found in scss/components/_dropdown.scss#89: `var(#{$css-var-prefix}form-element-focus-color);`
 * Found in scss/components/_dropdown.scss#99: `#{$css-var-prefix}form-element-border-color: var(`
 * Found in scss/components/_dropdown.scss#100: `#{$css-var-prefix}form-element-valid-border-color`
 * Found in scss/components/_dropdown.scss#102: `#{$css-var-prefix}form-element-active-border-color: var(`
 * Found in scss/components/_dropdown.scss#103: `#{$css-var-prefix}form-element-valid-focus-color`
 * Found in scss/components/_dropdown.scss#105: `#{$css-var-prefix}form-element-focus-color: var(`
 * Found in scss/components/_dropdown.scss#106: `#{$css-var-prefix}form-element-valid-focus-color`
 * Found in scss/components/_dropdown.scss#111: `#{$css-var-prefix}form-element-border-color: var(`
 * Found in scss/components/_dropdown.scss#112: `#{$css-var-prefix}form-element-invalid-border-color`
 * Found in scss/components/_dropdown.scss#114: `#{$css-var-prefix}form-element-active-border-color: var(`
 * Found in scss/components/_dropdown.scss#115: `#{$css-var-prefix}form-element-invalid-focus-color`
 * Found in scss/components/_dropdown.scss#117: `#{$css-var-prefix}form-element-focus-color: var(`
 * Found in scss/components/_dropdown.scss#118: `#{$css-var-prefix}form-element-invalid-focus-color`
 * Found in scss/components/_dropdown.scss#127: `margin: calc(var(#{$css-var-prefix}nav-element-spacing-vertical) * -1) 0;`
 * Found in scss/components/_dropdown.scss#137: `(1rem * var(#{$css-var-prefix}line-height)) +`
 * Found in scss/components/_dropdown.scss#138: `(var(#{$css-var-prefix}nav-link-spacing-vertical) * 2)`
 * Found in scss/components/_dropdown.scss#141: `var(#{$css-var-prefix}nav-link-spacing-vertical) -`
 * Found in scss/components/_dropdown.scss#142: `(var(#{$css-var-prefix}border-width) * 2)`
 * Found in scss/components/_dropdown.scss#144: `var(#{$css-var-prefix}nav-link-spacing-horizontal);`
 * Found in scss/components/_dropdown.scss#150: `var(#{$css-var-prefix}outline-width)`
 * Found in scss/components/_dropdown.scss#151: `var(#{$css-var-prefix}primary-focus);`
 * Found in scss/components/_dropdown.scss#168: `margin-top: var(#{$css-var-prefix}outline-width);`
 * Found in scss/components/_dropdown.scss#170: `border: var(#{$css-var-prefix}border-width) solid var(#{$css-var-prefix}dropdown-border-color);`
 * Found in scss/components/_dropdown.scss#171: `border-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/components/_dropdown.scss#172: `background-color: var(#{$css-var-prefix}dropdown-background-color);`
 * Found in scss/components/_dropdown.scss#173: `box-shadow: var(#{$css-var-prefix}dropdown-box-shadow);`
 * Found in scss/components/_dropdown.scss#174: `color: var(#{$css-var-prefix}dropdown-color);`
 * Found in scss/components/_dropdown.scss#180: `opacity var(#{$css-var-prefix}transition),`
 * Found in scss/components/_dropdown.scss#192: `padding: calc(var(#{$css-var-prefix}form-element-spacing-vertical) * 0.5)`
 * Found in scss/components/_dropdown.scss#193: `var(#{$css-var-prefix}form-element-spacing-horizontal);`
 * Found in scss/components/_dropdown.scss#197: `margin-top: calc(var(#{$css-var-prefix}form-element-spacing-vertical) * 0.5);`
 * Found in scss/components/_dropdown.scss#201: `margin-bottom: calc(var(#{$css-var-prefix}form-element-spacing-vertical) * 0.5);`
 * Found in scss/components/_dropdown.scss#206: `margin: calc(var(#{$css-var-prefix}form-element-spacing-vertical) * -0.5)`
 * Found in scss/components/_dropdown.scss#207: `calc(var(#{$css-var-prefix}form-element-spacing-horizontal) * -1);`
 * Found in scss/components/_dropdown.scss#208: `padding: calc(var(#{$css-var-prefix}form-element-spacing-vertical) * 0.5)`
 * Found in scss/components/_dropdown.scss#209: `var(#{$css-var-prefix}form-element-spacing-horizontal);`
 * Found in scss/components/_dropdown.scss#212: `color: var(#{$css-var-prefix}dropdown-color);`
 * Found in scss/components/_dropdown.scss#221: `background-color: var(#{$css-var-prefix}dropdown-hover-background-color);`
 * Found in scss/components/_dropdown.scss#231: `background-color: var(#{$css-var-prefix}dropdown-hover-background-color);`
 * Found in scss/components/_dropdown.scss#253: `opacity var(#{$css-var-prefix}transition),`
 * Found in scss/components/_dropdown.scss#278: `margin-top: calc(var(#{$css-var-prefix}spacing) * 0.25);`
 * Found in scss/components/_group.scss#14: `margin-bottom: var(#{$css-var-prefix}spacing);`
 * Found in scss/components/_group.scss#15: `border-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/components/_group.scss#16: `box-shadow: var(#{$css-var-prefix}group-box-shadow, 0 0 0 rgba(0, 0, 0, 0));`
 * Found in scss/components/_group.scss#18: `transition: box-shadow var(#{$css-var-prefix}transition);`
 * Found in scss/components/_group.scss#51: `margin-left: calc(var(#{$css-var-prefix}border-width) * -1);`
 * Found in scss/components/_group.scss#66: `#{$css-var-prefix}group-box-shadow: var(`
 * Found in scss/components/_group.scss#67: `#{$css-var-prefix}group-box-shadow-focus-with-button`
 * Found in scss/components/_group.scss#78: `#{$css-var-prefix}group-box-shadow: var(`
 * Found in scss/components/_group.scss#79: `#{$css-var-prefix}group-box-shadow-focus-with-input`
 * Found in scss/components/_group.scss#87: `#{$css-var-prefix}button-box-shadow: 0 0 0 var(#{$css-var-prefix}border-width)`
 * Found in scss/components/_group.scss#88: `var(#{$css-var-prefix}primary-border);`
 * Found in scss/components/_group.scss#89: `#{$css-var-prefix}button-hover-box-shadow: 0 0 0 var(#{$css-var-prefix}border-width)`
 * Found in scss/components/_group.scss#90: `var(#{$css-var-prefix}primary-hover-border);`
 * Found in scss/components/_loading.scss#17: `background-image: var(#{$css-var-prefix}icon-loading);`
 * Found in scss/components/_loading.scss#26: `margin-inline-end: calc(var(#{$css-var-prefix}spacing) * 0.5);`
 * Found in scss/components/_modal.scss#11: `#{$css-var-prefix}scrollbar-width: 0px;`
 * Found in scss/components/_modal.scss#30: `backdrop-filter: var(#{$css-var-prefix}modal-overlay-backdrop-filter);`
 * Found in scss/components/_modal.scss#31: `background-color: var(#{$css-var-prefix}modal-overlay-background-color);`
 * Found in scss/components/_modal.scss#32: `color: var(#{$css-var-prefix}color);`
 * Found in scss/components/_modal.scss#38: `".close, :is(a, button)[rel=prev]",`
 * Found in scss/components/_modal.scss#39: `":is(a, button)[rel=prev]"`
 * Found in scss/components/_modal.scss#42: `max-height: calc(100vh - var(#{$css-var-prefix}spacing) * 2);`
 * Found in scss/components/_modal.scss#43: `margin: var(#{$css-var-prefix}spacing);`
 * Found in scss/components/_modal.scss#65: `margin-left: var(#{$css-var-prefix}spacing);`
 * Found in scss/components/_modal.scss#79: `margin-left: calc(var(#{$css-var-prefix}spacing) * 0.5);`
 * Found in scss/components/_modal.scss#89: `margin-top: calc(var(#{$css-var-prefix}spacing) * -1);`
 * Found in scss/components/_modal.scss#90: `margin-bottom: var(#{$css-var-prefix}spacing);`
 * Found in scss/components/_modal.scss#93: `background-image: var(#{$css-var-prefix}icon-close);`
 * Found in scss/components/_modal.scss#101: `transition: opacity var(#{$css-var-prefix}transition);`
 * Found in scss/components/_modal.scss#120: `padding-right: var(#{$css-var-prefix}scrollbar-width, 0px);`
 * Found in scss/components/_nav.scss#38: `margin-left: calc(var(#{$css-var-prefix}nav-element-spacing-horizontal) * -1);`
 * Found in scss/components/_nav.scss#41: `margin-right: calc(var(#{$css-var-prefix}nav-element-spacing-horizontal) * -1);`
 * Found in scss/components/_nav.scss#48: `padding: var(#{$css-var-prefix}nav-element-spacing-vertical)`
 * Found in scss/components/_nav.scss#49: `var(#{$css-var-prefix}nav-element-spacing-horizontal);`
 * Found in scss/components/_nav.scss#53: `margin: calc(var(#{$css-var-prefix}nav-link-spacing-vertical) * -1)`
 * Found in scss/components/_nav.scss#54: `calc(var(#{$css-var-prefix}nav-link-spacing-horizontal) * -1);`
 * Found in scss/components/_nav.scss#55: `padding: var(#{$css-var-prefix}nav-link-spacing-vertical)`
 * Found in scss/components/_nav.scss#56: `var(#{$css-var-prefix}nav-link-spacing-horizontal);`
 * Found in scss/components/_nav.scss#57: `border-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/components/_nav.scss#75: `var(#{$css-var-prefix}nav-link-spacing-vertical) -`
 * Found in scss/components/_nav.scss#76: `(var(#{$css-var-prefix}border-width) * 2)`
 * Found in scss/components/_nav.scss#78: `var(#{$css-var-prefix}nav-link-spacing-horizontal);`
 * Found in scss/components/_nav.scss#89: `margin-inline-start: var(#{$css-var-prefix}nav-link-spacing-horizontal);`
 * Found in scss/components/_nav.scss#93: `margin: calc(var(#{$css-var-prefix}nav-link-spacing-vertical) * -1) 0;`
 * Found in scss/components/_nav.scss#94: `margin-inline-start: calc(var(#{$css-var-prefix}nav-link-spacing-horizontal) * -1);`
 * Found in scss/components/_nav.scss#101: `width: calc(var(#{$css-var-prefix}nav-link-spacing-horizontal) * 4);`
 * Found in scss/components/_nav.scss#102: `margin: 0 calc(var(#{$css-var-prefix}nav-link-spacing-horizontal) * -1);`
 * Found in scss/components/_nav.scss#103: `content: var(#{$css-var-prefix}nav-breadcrumb-divider);`
 * Found in scss/components/_nav.scss#104: `color: var(#{$css-var-prefix}muted-color);`
 * Found in scss/components/_nav.scss#132: `padding: calc(var(#{$css-var-prefix}nav-element-spacing-vertical) * 0.5)`
 * Found in scss/components/_nav.scss#133: `var(#{$css-var-prefix}nav-element-spacing-horizontal);`
 * Found in scss/components/_progress.scss#34: `margin-bottom: calc(var(#{$css-var-prefix}spacing) * 0.5);`
 * Found in scss/components/_progress.scss#39: `border-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/components/_progress.scss#40: `background-color: var(#{$css-var-prefix}progress-background-color);`
 * Found in scss/components/_progress.scss#43: `color: var(#{$css-var-prefix}progress-color);`
 * Found in scss/components/_progress.scss#46: `border-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/components/_progress.scss#51: `background-color: var(#{$css-var-prefix}progress-color);`
 * Found in scss/components/_progress.scss#54: `transition: inline-size var(#{$css-var-prefix}transition);`
 * Found in scss/components/_progress.scss#59: `background-color: var(#{$css-var-prefix}progress-color);`
 * Found in scss/components/_progress.scss#63: `@media (prefers-reduced-motion: no-preference) {`
 * Found in scss/components/_progress.scss#65: `background: var(#{$css-var-prefix}progress-background-color)`
 * Found in scss/components/_progress.scss#68: `var(#{$css-var-prefix}progress-color) 30%,`
 * Found in scss/components/_progress.scss#69: `var(#{$css-var-prefix}progress-background-color) 30%`
 * Found in scss/components/_progress.scss#86: `@media (prefers-reduced-motion: no-preference) {`
 * Found in scss/components/_tooltip.scss#30: `border-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/components/_tooltip.scss#31: `background: var(#{$css-var-prefix}tooltip-background-color);`
 * Found in scss/components/_tooltip.scss#33: `color: var(#{$css-var-prefix}tooltip-color);`
 * Found in scss/components/_tooltip.scss#35: `font-weight: var(#{$css-var-prefix}font-weight);`
 * Found in scss/components/_tooltip.scss#55: `color: var(#{$css-var-prefix}tooltip-background-color);`
 * Found in scss/components/_tooltip.scss#124: `#{$css-var-prefix}tooltip-slide-to: translate(-50%, -0.25rem);`
 * Found in scss/components/_tooltip.scss#133: `#{$css-var-prefix}tooltip-caret-slide-to: translate(-50%, 0rem);`
 * Found in scss/components/_tooltip.scss#145: `#{$css-var-prefix}tooltip-slide-to: translate(-50%, 0.25rem);`
 * Found in scss/components/_tooltip.scss#151: `#{$css-var-prefix}tooltip-caret-slide-to: translate(-50%, -0.3rem);`
 * Found in scss/components/_tooltip.scss#164: `#{$css-var-prefix}tooltip-slide-to: translate(-0.25rem, -50%);`
 * Found in scss/components/_tooltip.scss#170: `#{$css-var-prefix}tooltip-caret-slide-to: translate(0.3rem, -50%);`
 * Found in scss/components/_tooltip.scss#183: `#{$css-var-prefix}tooltip-slide-to: translate(0.25rem, -50%);`
 * Found in scss/components/_tooltip.scss#189: `#{$css-var-prefix}tooltip-caret-slide-to: translate(-0.3rem, -50%);`
 * Found in scss/components/_tooltip.scss#199: `transform: var(#{$css-var-prefix}tooltip-slide-to);`
 * Found in scss/components/_tooltip.scss#209: `transform: var(#{$css-var-prefix}tooltip-caret-slide-to);`
 * Found in scss/content/_button.scss#41: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}primary-background);`
 * Found in scss/content/_button.scss#42: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}primary-border);`
 * Found in scss/content/_button.scss#43: `#{$css-var-prefix}color: var(#{$css-var-prefix}primary-inverse);`
 * Found in scss/content/_button.scss#44: `#{$css-var-prefix}box-shadow: var(#{$css-var-prefix}button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));`
 * Found in scss/content/_button.scss#45: `padding: var(#{$css-var-prefix}form-element-spacing-vertical)`
 * Found in scss/content/_button.scss#46: `var(#{$css-var-prefix}form-element-spacing-horizontal);`
 * Found in scss/content/_button.scss#47: `border: var(#{$css-var-prefix}border-width) solid var(#{$css-var-prefix}border-color);`
 * Found in scss/content/_button.scss#48: `border-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/content/_button.scss#50: `background-color: var(#{$css-var-prefix}background-color);`
 * Found in scss/content/_button.scss#51: `box-shadow: var(#{$css-var-prefix}box-shadow);`
 * Found in scss/content/_button.scss#52: `color: var(#{$css-var-prefix}color);`
 * Found in scss/content/_button.scss#53: `font-weight: var(#{$css-var-prefix}font-weight);`
 * Found in scss/content/_button.scss#55: `line-height: var(#{$css-var-prefix}line-height);`
 * Found in scss/content/_button.scss#63: `background-color var(#{$css-var-prefix}transition),`
 * Found in scss/content/_button.scss#64: `border-color var(#{$css-var-prefix}transition),`
 * Found in scss/content/_button.scss#65: `color var(#{$css-var-prefix}transition),`
 * Found in scss/content/_button.scss#66: `box-shadow var(#{$css-var-prefix}transition);`
 * Found in scss/content/_button.scss#71: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}primary-hover-background);`
 * Found in scss/content/_button.scss#72: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}primary-hover-border);`
 * Found in scss/content/_button.scss#73: `#{$css-var-prefix}box-shadow: var(`
 * Found in scss/content/_button.scss#74: `#{$css-var-prefix}button-hover-box-shadow,`
 * Found in scss/content/_button.scss#77: `#{$css-var-prefix}color: var(#{$css-var-prefix}primary-inverse);`
 * Found in scss/content/_button.scss#82: `#{$css-var-prefix}box-shadow:`
 * Found in scss/content/_button.scss#83: `var(#{$css-var-prefix}button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),`
 * Found in scss/content/_button.scss#84: `0 0 0 var(#{$css-var-prefix}outline-width) var(#{$css-var-prefix}primary-focus);`
 * Found in scss/content/_button.scss#91: `margin-bottom: var(#{$css-var-prefix}spacing);`
 * Found in scss/content/_button.scss#100: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}secondary-background);`
 * Found in scss/content/_button.scss#101: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}secondary-border);`
 * Found in scss/content/_button.scss#102: `#{$css-var-prefix}color: var(#{$css-var-prefix}secondary-inverse);`
 * Found in scss/content/_button.scss#106: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}secondary-hover-background);`
 * Found in scss/content/_button.scss#107: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}secondary-hover-border);`
 * Found in scss/content/_button.scss#108: `#{$css-var-prefix}color: var(#{$css-var-prefix}secondary-inverse);`
 * Found in scss/content/_button.scss#113: `#{$css-var-prefix}box-shadow:`
 * Found in scss/content/_button.scss#114: `var(#{$css-var-prefix}button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),`
 * Found in scss/content/_button.scss#115: `0 0 0 var(#{$css-var-prefix}outline-width) var(#{$css-var-prefix}secondary-focus);`
 * Found in scss/content/_button.scss#121: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}contrast-background);`
 * Found in scss/content/_button.scss#122: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}contrast-border);`
 * Found in scss/content/_button.scss#123: `#{$css-var-prefix}color: var(#{$css-var-prefix}contrast-inverse);`
 * Found in scss/content/_button.scss#126: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}contrast-hover-background);`
 * Found in scss/content/_button.scss#127: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}contrast-hover-border);`
 * Found in scss/content/_button.scss#128: `#{$css-var-prefix}color: var(#{$css-var-prefix}contrast-inverse);`
 * Found in scss/content/_button.scss#133: `#{$css-var-prefix}box-shadow:`
 * Found in scss/content/_button.scss#134: `var(#{$css-var-prefix}button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),`
 * Found in scss/content/_button.scss#135: `0 0 0 var(#{$css-var-prefix}outline-width) var(#{$css-var-prefix}contrast-focus);`
 * Found in scss/content/_button.scss#142: `#{$css-var-prefix}background-color: transparent;`
 * Found in scss/content/_button.scss#143: `#{$css-var-prefix}color: var(#{$css-var-prefix}primary);`
 * Found in scss/content/_button.scss#144: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}primary);`
 * Found in scss/content/_button.scss#147: `#{$css-var-prefix}background-color: transparent;`
 * Found in scss/content/_button.scss#148: `#{$css-var-prefix}color: var(#{$css-var-prefix}primary-hover);`
 * Found in scss/content/_button.scss#149: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}primary-hover);`
 * Found in scss/content/_button.scss#157: `#{$css-var-prefix}color: var(#{$css-var-prefix}secondary);`
 * Found in scss/content/_button.scss#158: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}secondary);`
 * Found in scss/content/_button.scss#161: `#{$css-var-prefix}color: var(#{$css-var-prefix}secondary-hover);`
 * Found in scss/content/_button.scss#162: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}secondary-hover);`
 * Found in scss/content/_button.scss#169: `#{$css-var-prefix}color: var(#{$css-var-prefix}contrast);`
 * Found in scss/content/_button.scss#170: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}contrast);`
 * Found in scss/content/_button.scss#173: `#{$css-var-prefix}color: var(#{$css-var-prefix}contrast-hover);`
 * Found in scss/content/_button.scss#174: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}contrast-hover);`
 * Found in scss/content/_button.scss#181: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}secondary-background);`
 * Found in scss/content/_button.scss#182: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}secondary-border);`
 * Found in scss/content/_button.scss#183: `#{$css-var-prefix}color: var(#{$css-var-prefix}secondary-inverse);`
 * Found in scss/content/_button.scss#187: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}secondary-hover-background);`
 * Found in scss/content/_button.scss#188: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}secondary-hover-border);`
 * Found in scss/content/_button.scss#189: `#{$css-var-prefix}color: var(#{$css-var-prefix}secondary-inverse);`
 * Found in scss/content/_button.scss#193: `#{$css-var-prefix}box-shadow:`
 * Found in scss/content/_button.scss#194: `var(#{$css-var-prefix}button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),`
 * Found in scss/content/_button.scss#195: `0 0 0 var(#{$css-var-prefix}outline-width) var(#{$css-var-prefix}secondary-focus);`
 * Found in scss/content/_code.scss#16: `#{$parent-selector} pre,`
 * Found in scss/content/_code.scss#21: `font-family: var(#{$css-var-prefix}font-family); // 1`
 * Found in scss/content/_code.scss#24: `#{$parent-selector} pre code,`
 * Found in scss/content/_code.scss#25: `#{$parent-selector} pre samp {`
 * Found in scss/content/_code.scss#31: `#{$parent-selector} pre {`
 * Found in scss/content/_code.scss#39: `#{$parent-selector} pre,`
 * Found in scss/content/_code.scss#43: `border-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/content/_code.scss#44: `background: var(#{$css-var-prefix}code-background-color);`
 * Found in scss/content/_code.scss#45: `color: var(#{$css-var-prefix}code-color);`
 * Found in scss/content/_code.scss#46: `font-weight: var(#{$css-var-prefix}font-weight);`
 * Found in scss/content/_code.scss#57: `#{$parent-selector} pre {`
 * Found in scss/content/_code.scss#59: `margin-bottom: var(#{$css-var-prefix}spacing);`
 * Found in scss/content/_code.scss#65: `padding: var(#{$css-var-prefix}spacing);`
 * Found in scss/content/_code.scss#67: `line-height: var(#{$css-var-prefix}line-height);`
 * Found in scss/content/_code.scss#73: `background-color: var(#{$css-var-prefix}code-kbd-background-color);`
 * Found in scss/content/_code.scss#74: `color: var(#{$css-var-prefix}code-kbd-color);`
 * Found in scss/content/_figure.scss#15: `padding: calc(var(#{$css-var-prefix}spacing) * 0.5) 0;`
 * Found in scss/content/_figure.scss#16: `color: var(#{$css-var-prefix}muted-color);`
 * Found in scss/content/_link.scss#11: `#{$css-var-prefix}color: var(#{$css-var-prefix}primary);`
 * Found in scss/content/_link.scss#12: `#{$css-var-prefix}background-color: transparent;`
 * Found in scss/content/_link.scss#13: `#{$css-var-prefix}underline: var(#{$css-var-prefix}primary-underline);`
 * Found in scss/content/_link.scss#15: `background-color: var(#{$css-var-prefix}background-color); // 1`
 * Found in scss/content/_link.scss#16: `color: var(#{$css-var-prefix}color);`
 * Found in scss/content/_link.scss#17: `text-decoration: var(#{$css-var-prefix}text-decoration);`
 * Found in scss/content/_link.scss#18: `text-decoration-color: var(#{$css-var-prefix}underline);`
 * Found in scss/content/_link.scss#23: `background-color var(#{$css-var-prefix}transition),`
 * Found in scss/content/_link.scss#24: `color var(#{$css-var-prefix}transition),`
 * Found in scss/content/_link.scss#25: `text-decoration var(#{$css-var-prefix}transition),`
 * Found in scss/content/_link.scss#26: `box-shadow var(#{$css-var-prefix}transition);`
 * Found in scss/content/_link.scss#30: `#{$css-var-prefix}color: var(#{$css-var-prefix}primary-hover);`
 * Found in scss/content/_link.scss#31: `#{$css-var-prefix}underline: var(#{$css-var-prefix}primary-hover-underline);`
 * Found in scss/content/_link.scss#32: `#{$css-var-prefix}text-decoration: underline;`
 * Found in scss/content/_link.scss#36: `box-shadow: 0 0 0 var(#{$css-var-prefix}outline-width) var(#{$css-var-prefix}primary-focus);`
 * Found in scss/content/_link.scss#42: `#{$css-var-prefix}color: var(#{$css-var-prefix}secondary);`
 * Found in scss/content/_link.scss#43: `#{$css-var-prefix}underline: var(#{$css-var-prefix}secondary-underline);`
 * Found in scss/content/_link.scss#46: `#{$css-var-prefix}color: var(#{$css-var-prefix}secondary-hover);`
 * Found in scss/content/_link.scss#47: `#{$css-var-prefix}underline: var(#{$css-var-prefix}secondary-hover-underline);`
 * Found in scss/content/_link.scss#53: `#{$css-var-prefix}color: var(#{$css-var-prefix}contrast);`
 * Found in scss/content/_link.scss#54: `#{$css-var-prefix}underline: var(#{$css-var-prefix}contrast-underline);`
 * Found in scss/content/_link.scss#57: `#{$css-var-prefix}color: var(#{$css-var-prefix}contrast-hover);`
 * Found in scss/content/_link.scss#58: `#{$css-var-prefix}underline: var(#{$css-var-prefix}contrast-hover-underline);`
 * Found in scss/content/_misc.scss#18: `margin: var(#{$css-var-prefix}typography-spacing-vertical) 0;`
 * Found in scss/content/_misc.scss#20: `border-top: 1px solid var(#{$css-var-prefix}muted-border-color);`
 * Found in scss/content/_table.scss#29: `padding: calc(var(#{$css-var-prefix}spacing) / 2) var(#{$css-var-prefix}spacing);`
 * Found in scss/content/_table.scss#30: `border-bottom: var(#{$css-var-prefix}border-width)`
 * Found in scss/content/_table.scss#32: `var(#{$css-var-prefix}table-border-color);`
 * Found in scss/content/_table.scss#33: `background-color: var(#{$css-var-prefix}background-color);`
 * Found in scss/content/_table.scss#34: `color: var(#{$css-var-prefix}color);`
 * Found in scss/content/_table.scss#35: `font-weight: var(#{$css-var-prefix}font-weight);`
 * Found in scss/content/_table.scss#44: `border-top: var(#{$css-var-prefix}border-width)`
 * Found in scss/content/_table.scss#46: `var(#{$css-var-prefix}table-border-color);`
 * Found in scss/content/_table.scss#57: `background-color: var(#{$css-var-prefix}table-row-stripped-background-color);`
 * Found in scss/content/_typography.scss#43: `#{$parent-selector} pre,`
 * Found in scss/content/_typography.scss#47: `margin-bottom: var(#{$css-var-prefix}typography-spacing-vertical);`
 * Found in scss/content/_typography.scss#48: `color: var(#{$css-var-prefix}color);`
 * Found in scss/content/_typography.scss#50: `font-weight: var(#{$css-var-prefix}font-weight);`
 * Found in scss/content/_typography.scss#61: `margin-bottom: var(#{$css-var-prefix}typography-spacing-vertical);`
 * Found in scss/content/_typography.scss#62: `color: var(#{$css-var-prefix}color);`
 * Found in scss/content/_typography.scss#63: `font-weight: var(#{$css-var-prefix}font-weight);`
 * Found in scss/content/_typography.scss#64: `font-size: var(#{$css-var-prefix}font-size);`
 * Found in scss/content/_typography.scss#65: `line-height: var(#{$css-var-prefix}line-height);`
 * Found in scss/content/_typography.scss#66: `font-family: var(#{$css-var-prefix}font-family);`
 * Found in scss/content/_typography.scss#70: `#{$css-var-prefix}color: var(#{$css-var-prefix}h1-color);`
 * Found in scss/content/_typography.scss#73: `#{$css-var-prefix}color: var(#{$css-var-prefix}h2-color);`
 * Found in scss/content/_typography.scss#76: `#{$css-var-prefix}color: var(#{$css-var-prefix}h3-color);`
 * Found in scss/content/_typography.scss#79: `#{$css-var-prefix}color: var(#{$css-var-prefix}h4-color);`
 * Found in scss/content/_typography.scss#82: `#{$css-var-prefix}color: var(#{$css-var-prefix}h5-color);`
 * Found in scss/content/_typography.scss#85: `#{$css-var-prefix}color: var(#{$css-var-prefix}h6-color);`
 * Found in scss/content/_typography.scss#90: `:where(article, address, blockquote, dl, figure, form, ol, p, pre, table, ul) {`
 * Found in scss/content/_typography.scss#92: `margin-top: var(#{$css-var-prefix}typography-spacing-top);`
 * Found in scss/content/_typography.scss#98: `margin-bottom: var(#{$css-var-prefix}typography-spacing-vertical);`
 * Found in scss/content/_typography.scss#103: `margin-bottom: var(#{$css-var-prefix}typography-spacing-vertical);`
 * Found in scss/content/_typography.scss#111: `#{$css-var-prefix}color: var(#{$css-var-prefix}muted-color);`
 * Found in scss/content/_typography.scss#112: `#{$css-var-prefix}font-weight: unset;`
 * Found in scss/content/_typography.scss#120: `margin-bottom: calc(var(#{$css-var-prefix}typography-spacing-vertical) * 0.25);`
 * Found in scss/content/_typography.scss#128: `margin-top: calc(var(#{$css-var-prefix}typography-spacing-vertical) * 0.25);`
 * Found in scss/content/_typography.scss#138: `background-color: var(#{$css-var-prefix}mark-background-color);`
 * Found in scss/content/_typography.scss#139: `color: var(#{$css-var-prefix}mark-color);`
 * Found in scss/content/_typography.scss#146: `margin: var(#{$css-var-prefix}typography-spacing-vertical) 0;`
 * Found in scss/content/_typography.scss#147: `padding: var(#{$css-var-prefix}spacing);`
 * Found in scss/content/_typography.scss#149: `border-left: 0.25rem solid var(#{$css-var-prefix}blockquote-border-color);`
 * Found in scss/content/_typography.scss#150: `border-inline-start: 0.25rem solid var(#{$css-var-prefix}blockquote-border-color);`
 * Found in scss/content/_typography.scss#154: `margin-top: calc(var(#{$css-var-prefix}typography-spacing-vertical) * 0.5);`
 * Found in scss/content/_typography.scss#155: `color: var(#{$css-var-prefix}blockquote-footer-color);`
 * Found in scss/content/_typography.scss#169: `color: var(#{$css-var-prefix}ins-color);`
 * Found in scss/content/_typography.scss#175: `color: var(#{$css-var-prefix}del-color);`
 * Found in scss/content/_typography.scss#180: `background-color: var(#{$css-var-prefix}text-selection-color);`
 * Found in scss/forms/_basics.scss#6: `$helper-previous-tags: "input, select, textarea, fieldset";`
 * Found in scss/forms/_basics.scss#24: `line-height: var(#{$css-var-prefix}line-height); // 1`
 * Found in scss/forms/_basics.scss#120: `(1rem * var(#{$css-var-prefix}line-height)) +`
 * Found in scss/forms/_basics.scss#121: `(var(#{$css-var-prefix}form-element-spacing-vertical) * 2) +`
 * Found in scss/forms/_basics.scss#122: `(var(#{$css-var-prefix}border-width) * 2)`
 * Found in scss/forms/_basics.scss#130: `margin-bottom: var(#{$css-var-prefix}spacing);`
 * Found in scss/forms/_basics.scss#139: `margin-bottom: calc(var(#{$css-var-prefix}spacing) * 0.375);`
 * Found in scss/forms/_basics.scss#140: `color: var(#{$css-var-prefix}color);`
 * Found in scss/forms/_basics.scss#141: `font-weight: var(#{$css-var-prefix}form-label-font-weight, var(#{$css-var-prefix}font-weight));`
 * Found in scss/forms/_basics.scss#145: `margin-bottom: calc(var(#{$css-var-prefix}spacing) * 0.5);`
 * Found in scss/forms/_basics.scss#161: `padding: var(#{$css-var-prefix}form-element-spacing-vertical)`
 * Found in scss/forms/_basics.scss#162: `var(#{$css-var-prefix}form-element-spacing-horizontal);`
 * Found in scss/forms/_basics.scss#169: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}form-element-background-color);`
 * Found in scss/forms/_basics.scss#170: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}form-element-border-color);`
 * Found in scss/forms/_basics.scss#171: `#{$css-var-prefix}color: var(#{$css-var-prefix}form-element-color);`
 * Found in scss/forms/_basics.scss#172: `#{$css-var-prefix}box-shadow: none;`
 * Found in scss/forms/_basics.scss#173: `border: var(#{$css-var-prefix}border-width) solid var(#{$css-var-prefix}border-color);`
 * Found in scss/forms/_basics.scss#174: `border-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/forms/_basics.scss#176: `background-color: var(#{$css-var-prefix}background-color);`
 * Found in scss/forms/_basics.scss#177: `box-shadow: var(#{$css-var-prefix}box-shadow);`
 * Found in scss/forms/_basics.scss#178: `color: var(#{$css-var-prefix}color);`
 * Found in scss/forms/_basics.scss#179: `font-weight: var(#{$css-var-prefix}font-weight);`
 * Found in scss/forms/_basics.scss#183: `background-color var(#{$css-var-prefix}transition),`
 * Found in scss/forms/_basics.scss#184: `border-color var(#{$css-var-prefix}transition),`
 * Found in scss/forms/_basics.scss#185: `color var(#{$css-var-prefix}transition),`
 * Found in scss/forms/_basics.scss#186: `box-shadow var(#{$css-var-prefix}transition);`
 * Found in scss/forms/_basics.scss#202: `#{$css-var-prefix}background-color: var(`
 * Found in scss/forms/_basics.scss#203: `#{$css-var-prefix}form-element-active-background-color`
 * Found in scss/forms/_basics.scss#213: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}form-element-active-border-color);`
 * Found in scss/forms/_basics.scss#229: `#{$css-var-prefix}box-shadow: 0`
 * Found in scss/forms/_basics.scss#232: `var(#{$css-var-prefix}outline-width)`
 * Found in scss/forms/_basics.scss#233: `var(#{$css-var-prefix}form-element-focus-color);`
 * Found in scss/forms/_basics.scss#245: `opacity: var(#{$css-var-prefix}form-element-disabled-opacity);`
 * Found in scss/forms/_basics.scss#268: `var(#{$css-var-prefix}form-element-spacing-horizontal) + 1.5rem`
 * Found in scss/forms/_basics.scss#270: `padding-left: var(#{$css-var-prefix}form-element-spacing-horizontal);`
 * Found in scss/forms/_basics.scss#271: `padding-inline-start: var(#{$css-var-prefix}form-element-spacing-horizontal) !important;`
 * Found in scss/forms/_basics.scss#273: `var(#{$css-var-prefix}form-element-spacing-horizontal) + 1.5rem`
 * Found in scss/forms/_basics.scss#276: `padding-right: calc(var(#{$css-var-prefix}form-element-spacing-horizontal) + 1.5rem);`
 * Found in scss/forms/_basics.scss#277: `padding-left: var(#{$css-var-prefix}form-element-spacing-horizontal);`
 * Found in scss/forms/_basics.scss#278: `padding-inline-start: var(#{$css-var-prefix}form-element-spacing-horizontal);`
 * Found in scss/forms/_basics.scss#279: `padding-inline-end: calc(var(#{$css-var-prefix}form-element-spacing-horizontal) + 1.5rem);`
 * Found in scss/forms/_basics.scss#287: `background-image: var(#{$css-var-prefix}icon-valid);`
 * Found in scss/forms/_basics.scss#291: `background-image: var(#{$css-var-prefix}icon-invalid);`
 * Found in scss/forms/_basics.scss#296: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}form-element-valid-border-color);`
 * Found in scss/forms/_basics.scss#300: `#{$css-var-prefix}border-color: var(`
 * Found in scss/forms/_basics.scss#301: `#{$css-var-prefix}form-element-valid-active-border-color`
 * Found in scss/forms/_basics.scss#305: `#{$css-var-prefix}box-shadow: 0`
 * Found in scss/forms/_basics.scss#308: `var(#{$css-var-prefix}outline-width)`
 * Found in scss/forms/_basics.scss#309: `var(#{$css-var-prefix}form-element-valid-focus-color) !important;`
 * Found in scss/forms/_basics.scss#312: `#{$css-var-prefix}border-color: var(`
 * Found in scss/forms/_basics.scss#313: `#{$css-var-prefix}form-element-valid-active-border-color`
 * Found in scss/forms/_basics.scss#317: `#{$css-var-prefix}box-shadow: 0`
 * Found in scss/forms/_basics.scss#320: `var(#{$css-var-prefix}outline-width)`
 * Found in scss/forms/_basics.scss#321: `var(#{$css-var-prefix}form-element-valid-focus-color);`
 * Found in scss/forms/_basics.scss#328: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}form-element-invalid-border-color);`
 * Found in scss/forms/_basics.scss#332: `#{$css-var-prefix}border-color: var(`
 * Found in scss/forms/_basics.scss#333: `#{$css-var-prefix}form-element-invalid-active-border-color`
 * Found in scss/forms/_basics.scss#337: `#{$css-var-prefix}box-shadow: 0`
 * Found in scss/forms/_basics.scss#340: `var(#{$css-var-prefix}outline-width)`
 * Found in scss/forms/_basics.scss#341: `var(#{$css-var-prefix}form-element-invalid-focus-color) !important;`
 * Found in scss/forms/_basics.scss#344: `#{$css-var-prefix}border-color: var(`
 * Found in scss/forms/_basics.scss#345: `#{$css-var-prefix}form-element-invalid-active-border-color`
 * Found in scss/forms/_basics.scss#349: `#{$css-var-prefix}box-shadow: 0`
 * Found in scss/forms/_basics.scss#352: `var(#{$css-var-prefix}outline-width)`
 * Found in scss/forms/_basics.scss#353: `var(#{$css-var-prefix}form-element-invalid-focus-color);`
 * Found in scss/forms/_basics.scss#376: `color: var(#{$css-var-prefix}form-element-placeholder-color);`
 * Found in scss/forms/_basics.scss#384: `margin-bottom: var(#{$css-var-prefix}spacing);`
 * Found in scss/forms/_basics.scss#396: `padding-right: calc(var(#{$css-var-prefix}form-element-spacing-horizontal) + 1.5rem);`
 * Found in scss/forms/_basics.scss#397: `padding-left: var(#{$css-var-prefix}form-element-spacing-horizontal);`
 * Found in scss/forms/_basics.scss#398: `padding-inline-start: var(#{$css-var-prefix}form-element-spacing-horizontal);`
 * Found in scss/forms/_basics.scss#399: `padding-inline-end: calc(var(#{$css-var-prefix}form-element-spacing-horizontal) + 1.5rem);`
 * Found in scss/forms/_basics.scss#400: `background-image: var(#{$css-var-prefix}icon-chevron);`
 * Found in scss/forms/_basics.scss#409: `background: var(#{$css-var-prefix}form-element-selected-background-color);`
 * Found in scss/forms/_basics.scss#410: `color: var(#{$css-var-prefix}form-element-color);`
 * Found in scss/forms/_basics.scss#431: `#{$css-var-prefix}icon-height: calc(`
 * Found in scss/forms/_basics.scss#432: `(1rem * var(#{$css-var-prefix}line-height)) +`
 * Found in scss/forms/_basics.scss#433: `(var(#{$css-var-prefix}form-element-spacing-vertical) * 2) +`
 * Found in scss/forms/_basics.scss#434: `(var(#{$css-var-prefix}border-width) * 2)`
 * Found in scss/forms/_basics.scss#437: `background-size: 1rem var(#{$css-var-prefix}icon-height) !important;`
 * Found in scss/forms/_basics.scss#442: `$helper-previous-tags: $helper-previous-tags + ", .grid";`
 * Found in scss/forms/_basics.scss#445: `#{$parent-selector} :where(#{$helper-previous-tags}) {`
 * Found in scss/forms/_basics.scss#449: `margin-top: calc(var(#{$css-var-prefix}spacing) * -0.75);`
 * Found in scss/forms/_basics.scss#450: `margin-bottom: var(#{$css-var-prefix}spacing);`
 * Found in scss/forms/_basics.scss#451: `color: var(#{$css-var-prefix}muted-color);`
 * Found in scss/forms/_basics.scss#455: `color: var(#{$css-var-prefix}ins-color);`
 * Found in scss/forms/_basics.scss#460: `color: var(#{$css-var-prefix}del-color);`
 * Found in scss/forms/_basics.scss#468: `margin-top: calc(var(#{$css-var-prefix}spacing) * 0.25);`
 * Found in scss/forms/_checkbox-radio-switch.scss#27: `border-width: var(#{$css-var-prefix}border-width);`
 * Found in scss/forms/_checkbox-radio-switch.scss#38: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}primary-background);`
 * Found in scss/forms/_checkbox-radio-switch.scss#39: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}primary-border);`
 * Found in scss/forms/_checkbox-radio-switch.scss#40: `background-image: var(#{$css-var-prefix}icon-checkbox);`
 * Found in scss/forms/_checkbox-radio-switch.scss#60: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}primary-background);`
 * Found in scss/forms/_checkbox-radio-switch.scss#61: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}primary-border);`
 * Found in scss/forms/_checkbox-radio-switch.scss#62: `background-image: var(#{$css-var-prefix}icon-minus);`
 * Found in scss/forms/_checkbox-radio-switch.scss#76: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}primary-inverse);`
 * Found in scss/forms/_checkbox-radio-switch.scss#84: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}switch-background-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#85: `#{$css-var-prefix}color: var(#{$css-var-prefix}switch-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#95: `border: var(#{$css-var-prefix}border-width) solid var(#{$css-var-prefix}border-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#97: `background-color: var(#{$css-var-prefix}background-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#101: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}switch-background-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#109: `background-color: var(#{$css-var-prefix}color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#110: `box-shadow: var(#{$css-var-prefix}switch-thumb-box-shadow);`
 * Found in scss/forms/_checkbox-radio-switch.scss#119: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}switch-background-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#120: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}switch-background-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#124: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}switch-checked-background-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#125: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}switch-checked-background-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#134: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}border-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#145: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}form-element-valid-border-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#152: `#{$css-var-prefix}background-color: var(`
 * Found in scss/forms/_checkbox-radio-switch.scss#153: `#{$css-var-prefix}form-element-invalid-border-color`
 * Found in scss/forms/_checkbox-radio-switch.scss#166: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}form-element-valid-border-color);`
 * Found in scss/forms/_checkbox-radio-switch.scss#173: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}form-element-invalid-border-color);`
 * Found in scss/forms/_input-color.scss#12: `border-radius: calc(var(#{$css-var-prefix}border-radius) * 0.5);`
 * Found in scss/forms/_input-date.scss#12: `#{$css-var-prefix}icon-position: 0.75rem;`
 * Found in scss/forms/_input-date.scss#13: `#{$css-var-prefix}icon-width: 1rem;`
 * Found in scss/forms/_input-date.scss#14: `padding-right: calc(var(#{$css-var-prefix}icon-width) + var(#{$css-var-prefix}icon-position));`
 * Found in scss/forms/_input-date.scss#15: `background-image: var(#{$css-var-prefix}icon-date);`
 * Found in scss/forms/_input-date.scss#16: `background-position: center right var(#{$css-var-prefix}icon-position);`
 * Found in scss/forms/_input-date.scss#17: `background-size: var(#{$css-var-prefix}icon-width) auto;`
 * Found in scss/forms/_input-date.scss#23: `background-image: var(#{$css-var-prefix}icon-time);`
 * Found in scss/forms/_input-date.scss#34: `width: var(#{$css-var-prefix}icon-width);`
 * Found in scss/forms/_input-date.scss#35: `margin-right: calc(var(#{$css-var-prefix}icon-width) * -1);`
 * Found in scss/forms/_input-date.scss#36: `margin-left: var(#{$css-var-prefix}icon-position);`
 * Found in scss/forms/_input-date.scss#43: `@-moz-document url-prefix() {`
 * Found in scss/forms/_input-date.scss#49: `padding-right: var(#{$css-var-prefix}form-element-spacing-horizontal) !important;`
 * Found in scss/forms/_input-file.scss#12: `#{$css-var-prefix}color: var(#{$css-var-prefix}muted-color);`
 * Found in scss/forms/_input-file.scss#13: `margin-left: calc(var(#{$css-var-prefix}outline-width) * -1); // 1`
 * Found in scss/forms/_input-file.scss#14: `padding: calc(var(#{$css-var-prefix}form-element-spacing-vertical) * 0.5) 0;`
 * Found in scss/forms/_input-file.scss#15: `padding-left: var(#{$css-var-prefix}outline-width); // 1`
 * Found in scss/forms/_input-file.scss#21: `margin-right: calc(var(#{$css-var-prefix}spacing) / 2);`
 * Found in scss/forms/_input-file.scss#22: `padding: calc(var(#{$css-var-prefix}form-element-spacing-vertical) * 0.5)`
 * Found in scss/forms/_input-file.scss#23: `var(#{$css-var-prefix}form-element-spacing-horizontal);`
 * Found in scss/forms/_input-file.scss#28: `#{$css-var-prefix}background-color: var(#{$css-var-prefix}secondary-hover-background);`
 * Found in scss/forms/_input-file.scss#29: `#{$css-var-prefix}border-color: var(#{$css-var-prefix}secondary-hover-border);`
 * Found in scss/forms/_input-file.scss#35: `#{$css-var-prefix}box-shadow:`
 * Found in scss/forms/_input-file.scss#36: `var(#{$css-var-prefix}button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),`
 * Found in scss/forms/_input-file.scss#37: `0 0 0 var(#{$css-var-prefix}outline-width) var(#{$css-var-prefix}secondary-focus);`
 * Found in scss/forms/_input-range.scss#13: `border-radius: var(#{$css-var-prefix}border-radius);`
 * Found in scss/forms/_input-range.scss#14: `background-color: var(#{$css-var-prefix}range-border-color);`
 * Found in scss/forms/_input-range.scss#18: `background-color var(#{$css-var-prefix}transition),`
 * Found in scss/forms/_input-range.scss#19: `box-shadow var(#{$css-var-prefix}transition);`
 * Found in scss/forms/_input-range.scss#29: `border: $border-thumb solid var(#{$css-var-prefix}range-thumb-border-color);`
 * Found in scss/forms/_input-range.scss#31: `background-color: var(#{$css-var-prefix}range-thumb-color);`
 * Found in scss/forms/_input-range.scss#36: `background-color var(#{$css-var-prefix}transition),`
 * Found in scss/forms/_input-range.scss#37: `transform var(#{$css-var-prefix}transition);`
 * Found in scss/forms/_input-range.scss#81: `#{$css-var-prefix}range-border-color: var(#{$css-var-prefix}range-active-border-color);`
 * Found in scss/forms/_input-range.scss#82: `#{$css-var-prefix}range-thumb-color: var(#{$css-var-prefix}range-thumb-active-color);`
 * Found in scss/forms/_input-search.scss#12: `padding-inline-start: calc(var(#{$css-var-prefix}form-element-spacing-horizontal) + 1.75rem);`
 * Found in scss/forms/_input-search.scss#13: `background-image: var(#{$css-var-prefix}icon-search);`
 * Found in scss/forms/_input-search.scss#16: `calc(var(#{$css-var-prefix}form-element-spacing-horizontal) + 0.125rem);`
 * Found in scss/forms/_input-search.scss#23: `var(#{$css-var-prefix}form-element-spacing-horizontal) + 1.75rem`
 * Found in scss/forms/_input-search.scss#27: `var(#{$css-var-prefix}form-element-spacing-horizontal) + 1.75rem`
 * Found in scss/forms/_input-search.scss#36: `background-image: var(#{$css-var-prefix}icon-search), var(#{$css-var-prefix}icon-valid);`
 * Found in scss/forms/_input-search.scss#40: `background-image: var(#{$css-var-prefix}icon-search), var(#{$css-var-prefix}icon-invalid);`
 * Found in scss/layout/_container.scss#14: `padding-right: var(#{$css-var-prefix}spacing);`
 * Found in scss/layout/_container.scss#15: `padding-left: var(#{$css-var-prefix}spacing);`
 * Found in scss/layout/_document.scss#33: `// 2. Breaks words to prevent overflow in all browsers (opinionated)`
 * Found in scss/layout/_document.scss#42: `background-color: var(#{$css-var-prefix}background-color);`
 * Found in scss/layout/_document.scss#43: `color: var(#{$css-var-prefix}color);`
 * Found in scss/layout/_document.scss#44: `font-weight: var(#{$css-var-prefix}font-weight);`
 * Found in scss/layout/_document.scss#45: `font-size: var(#{$css-var-prefix}font-size);`
 * Found in scss/layout/_document.scss#46: `line-height: var(#{$css-var-prefix}line-height); // 1`
 * Found in scss/layout/_document.scss#47: `font-family: var(#{$css-var-prefix}font-family);`
 * Found in scss/layout/_document.scss#48: `text-underline-offset: var(#{$css-var-prefix}text-underline-offset);`
 * Found in scss/layout/_grid.scss#11: `grid-column-gap: var(#{$css-var-prefix}grid-column-gap);`
 * Found in scss/layout/_grid.scss#12: `grid-row-gap: var(#{$css-var-prefix}grid-row-gap);`
 * Found in scss/layout/_landmarks.scss#37: `padding: var(#{$css-var-prefix}block-spacing-vertical)`
 * Found in scss/layout/_landmarks.scss#38: `var(#{$css-var-prefix}block-spacing-horizontal);`
 * Found in scss/layout/_landmarks.scss#58: `padding-block: var(#{$css-var-prefix}block-spacing-vertical);`
 * Found in scss/layout/_section.scss#10: `margin-bottom: var(#{$css-var-prefix}block-spacing-vertical);`
 * Found in scss/utilities/_reduce-motion.scss#17: `@media (prefers-reduced-motion: reduce) {`
 *
 * Add your styles here
 */

@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "content/typography") {
  #{$parent-selector} pre {
    margin-top: 0;
    margin-bottom: var(#{$css-var-prefix}typography-spacing-vertical);
    color: var(#{$css-var-prefix}color);
    font-style: normal;
    font-weight: var(#{$css-var-prefix}font-weight);
  }
}
